body {
	font-family: courier;
	font-size: 15px;
	background-color: black;
	color: white;
}

a {
	color: #3BB9D6;
	text-decoration: none;
}

.terminal {
	margin-right: auto;
	margin-left: auto;
	margin-top: 8%;
	width: 42%;
}
